<!-- About Section (for include) -->
<section class="about-section" id="about">
  <h2>About Me</h2>
  <div class="about-row">
    <div class="about-col">
      <div class="about-info">
        <span class="about-label">Address:</span> Hanoi, Vietnam
      </div>
      <div class="about-info">
        <span class="about-label">Language:</span> English - Intermediate
        (B1-B2)<br />
        <em
          >(Able to communicate effectively in common situations, both spoken
          and written)</em
        >
      </div>
      <span class="about-label">Skills:</span>
      <ul class="about-list">
        <li>Programming language</li>
        <li>Database</li>
        <li>Development tools</li>
      </ul>
      <span class="about-label">Interests:</span>
      <ul class="about-list">
        <li>Technology</li>
        <li>Music</li>
        <li>Playing video games</li>
      </ul>
    </div>
    <div class="about-col">
      <span class="about-label">Education:</span>
      <div class="about-edu">
        Fullstack Developer Program, VTC Academy Hanoi, Vietnam (08/2024 -
        Present)
      </div>
      <span class="about-label">Work Experience:</span>
      <div class="about-exp">
        <div class="about-exp-title">Web Developer Intern</div>
        <div class="about-exp-company">
          Vegan Pass, Hanoi, Vietnam (11/2024 - 02/2025)
        </div>
        <ul class="about-exp-list">
          <li>Built static websites using HTML, CSS and JavaScript</li>
          <li>
            Contributed to UI design and improved user interface responsiveness
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
